body{
    background-color:#FAFAD4;
    align-items: center;
    justify-content: center;
}

.banana{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.gerador{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 50px;
}
#botao{
    background-color: #B0D1B2;
    width: 150px;
    height: 50px;
   
    border-radius: 5px;
    border-style: solid;
}

#botao:hover{
    cursor: pointer;
    background-color: #76c5a7;
}

#botao:active{
    transform: scale(0.9);
}

#salmo{
    text-align: center;  
    color: black;
}
.container{
    align-items: center;
    justify-content: center;
    display: block;
    background-color: #c2c2a2;
    height: 634px;
    width: 930px;
   margin-left: 200px;
    border: solid;
    border-color: #447461;
    
}
